:root {
  --color-white: #fff;
  --color-acent: #545050;
  --color-page: #1b1919;
  --fz18px: 1.125rem;
  --fz30px: 1.875rem;
  --fz75px: 4.688rem;
  --lh16px: 1rem;
  --lh22px: 1.375rem;
  --lh30px: 1.875rem;
  --lh70px: 4.375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: var(--color-white);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: var(--fz18px);
  background-color: var(--color-page);
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  border: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__card-link {
  outline: none;
  color: var(--color-white);
  text-decoration: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.result__video-container {
  min-width: 711px;
  min-height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.content__details {
  min-width: 394px;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
  max-height: 56px;
  margin-bottom: 3px;
}

.item1 {
  align-items: flex-start;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: var(--fz18px);
  line-height: var(--lh22px);
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 0;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: var(--fz18px);
}

.search-form__textfield {
  min-width: 225px;
  border-top: 1px solid var(--color-white);
  border-right: 1px solid transparent;
  border-bottom: 1px solid var(--color-white);
  border-left: 1px solid transparent;
  color: var(--color-white);
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: var(--fz18px);
  line-height: var(--lh22px);
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  border: 1px solid var(--color-white);
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid var(--color-white);
  outline-offset: 1px;
}

.button {
  border: 1px solid var(--color-white);
  padding: 6px 73.5px;
  outline: none;
  color: var(--color-white);
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: var(--fz18px);
  line-height: var(--lh22px);
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.button:focus {
  outline: 1px solid var(--color-white);
  outline-offset: 1px;
}

.more-button {
  width: 100%;
  margin-bottom: 4px;
}

.button:active {
  background-color: var(--color-acent);
}

.button:hover {
  text-decoration-line: underline;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: var(--fz18px);
  line-height: var(--lh22px);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-bottom: 4px;
}

.search-form__checkbox:focus:focus {
  outline: none;
}

.search-form__checkbox:has(:focus-visible) {
  border: 1px solid var(--color-white);
}

.search-form__label-text {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: var(--lh22px);
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid var(--color-white);
}

.search-form__pseudo-checkbox:active {
  background-color: var(--color-white);
  outline: 1px solid var(--color-page);
  outline-offset: -2px;
}

.title {
  padding-top: 10px;
  padding-bottom: 25px;
  color: var(--color-white);
  font-family: Oswald;
  font-weight: 700;
  font-size: var(--fz75px);
  line-height: var(--lh70px);
  text-transform: uppercase;
}

.content__accent {
  color: var(--color-acent);
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 300px;
  overflow-y: scroll;
}

.content__list-item {
  padding: 2px;
  transition: all 0.3s;
}

.content__list-item:active {
  outline: none;
  background-color: var(--color-acent);
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:has(:focus-visible) {
  border: 1px solid var(--color-white);
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: var(--fz30px);
  line-height: var(--lh30px);
  text-transform: uppercase;
}

.content__video-card-description {
  max-width: 200px;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: var(--fz18px);
  line-height: var(--lh16px);
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  background-repeat: no-repeat;
  background-size: cover;
}
