:root {
  --color-white: #fff;
  --color-acent: #545050;
  --color-page: #1b1919;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: var(--color-white);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: var(--color-page);
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__card-link {
  color: var(--color-white);
  text-decoration: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  min-width: 711px;
}

.result__video {
  width: 711px;
  height: 386px;
}

.content__details {
  min-width: 394px;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  min-width: 212px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  background-color: transparent;
  appearance: none; 
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
}

.button {
  border: 1px solid var(--color-white);
  padding: 6px 73.5px;
  color: var(--color-white);
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  transition: all .3s;
  cursor: pointer;
}

.button:hover {
  text-decoration-line: underline;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.search-form__label_hover:hover {
  cursor: pointer;
}

.search-form__label-text:hover {
  text-decoration-line: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid var(--color-white);
}

.title {
  margin-bottom: 28px;
  color: var(--color-white);
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: var(--color-acent);
}

.content__list {
  max-height: 298px;
  overflow-y: scroll;
}

.content__list-item {
  margin-bottom: 34px;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  max-width: 200px;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  background-repeat: no-repeat;
  background-size: cover;
}